 <!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
{% include "template.html" %}
<div style="margin-left:25%">
<h1>People</h1>
<ul>
{% for location in object_list %}
    <li>{{ location.name }} {{ location.name }}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
</div>
</body>
</html>