 <!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
{% include "template.html" %}
<div style="margin-left:25%">
<h1>My First Heading</h1>
<p>My first paragraph.</p>

<p> {{text}} </p>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</div>
</body>
</html>