 <!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
{% include "template.html" %}

<h1>My First Heading</h1>
<p>My first paragraph.</p>


</body>
</html>