<div  class="w3-sidebar w3-bar-block" style="width:25%">
  <a href={% url 'home'%} class="w3-bar-item w3-button">Home</a>
  <a href="{% url 'location_form'%}" class="w3-bar-item w3-button">Add location</a>
  <a href={% url 'locations'%} class="w3-bar-item w3-button">All locations</a>
</div>